<div>
  <input type="text" [(ngModel)]="inputText">
  <input type="number" [(ngModel)]="offset" placeholder="Przesunięcie">
  <button (click)="convertToDecimal()">Zamień na dziesiętne</button>
  <button (click)="convertToBinary()">Zamień na binarne</button>
</div>

<div *ngIf="decimalValues.length > 0">
  <p>Wartości dziesiętne:</p>
  <span *ngFor="let value of decimalValues">{{ value }} </span>
</div>
<div *ngIf="binaryValues.length > 0">
  <p>Wartości binarne:</p>
  <span *ngFor="let value of binaryValues">{{ value }} </span>
</div>
